*.classpath
*.project
*.MF
*.properties
*.class
*.factorypath
*.xml
*.yml
*.prefs
/.settings
/*.project
*/target/*
/cloud-eureka-server7002/target/classes
/cloud-eureka-server7002/target/classes/com/atguigu/springcloud
